---
layout: default
title: Biblioteca Personal
---
<div class="container">
  <h1>Biblioteca</h1>
  <h2>Literatura Universal</h2>
</div>

  <section class="gallery">
  <div class="container">

    <ol class="image-list grid-view">

        {% for book in site.data.readings %}
          <figure>
            
            <a class="book-container">
            
            <div class="book">
              <img
                alt="{{ book.title }}"
                src="/img/books/{{ book.image }}"
                />
            </div>
            </a>

            <figcaption>
              <p class="title">{{ book.title }}</p>
              {% if book.author  %}
              <p class="author">by {{ book.author }}</p>
              {% endif %}
              <!--<p class="read">{{ book.read }}</p>-->
            </figcaption>
          </figure>
        {% endfor %}
    

    
    </ol>
  </div>
</section>

<div class="container">
  <h2>Desarrollo Personal</h2>
</div>

<div class="container">
  <h1>Lo próximo: {{ site.data.books | size }} + {{ site.data.personal | size }} libros en mi radar</h1>
</div>

<section class="pending">
  {% for book in site.data.books %}
  <span class="book-title">{{ book.title }}</span>
  {% endfor %}  
</section>
<hr/>
<section class="pending">
  {% for book in site.data.personal %}
  <span class="book-title">{{ book.title }}</span>
  {% endfor %}
</section>