---
layout: default
title: Bookshelf
---

<h1>My Personal Bookshelf</h1>		

<section class="gallery">
  <div class="container">

    <ol class="image-list grid-view">

        {% for book in site.data.readings %}
          <figure>
            
            <a class="book-container">
            
            <div class="book">
              <img
                alt="{{ book.title }}"
                src="/img/books/{{ book.image }}"
                />
            </div>
            </a>

            <figcaption>
              <p class="title">{{ book.title }}</p>
              {% if book.author  %}
              <p class="author">by {{ book.author }}</p>
              {% endif %}
              <!--<p class="read">{{ book.read }}</p>-->
            </figcaption>
          </figure>
        {% endfor %}
    

    
    </ol>
  </div>
</section>

<h1>Up Next: {{ site.data.books | size }} Books on My Reading Horizon</h1>

<section class="pending">

  {% for book in site.data.books %}

  <span class="book-title">{{ book.title }}</span>

  {% endfor %}  

</section>
