---
layout: page
title: Health
---
<div class="container">
<h1>Health & Fitness: A Personal Guide to Wellness and Longevity</h1>
    <p>Health is not merely the absence of illness, but a journey of <strong>self-discovery and growth</strong>. Each choice, each habit, and each day brings us closer to a life of <strong>balance and fulfillment</strong>. For me, true wellness means striving to <strong>nurture both body and mind</strong>—in the foods I eat, the thoughts I cultivate, and the actions I take.</p>

    <div class="tgnSearchResultsBox">
    
    {% assign health_items = site.posts %}
    {% assign health_items = health_items | sort: 'date' | reverse %}
    {% for item in health_items %}
    {% if item.tags contains 'health' %}
  <div class="AC_site_ArticleItemsearchThumb">
    <a href="{{ item.url }}">
        <div class="TGN_site_ArticleItemDesktopdate">{{ item.date | date: '%B %e, %Y' }}</div>
        <div class="TGN_site_ArticleItemimage">
          {% if item.header_fullview %}
          <img src="/img/{{ item.header_fullview }}" >
          {% elsif item.header_image %}
          <img src="/img/{{ item.header_image }}" >
          {% else %}
          <img src="/img/acnotes.png" >
          {% endif %}
        </div>
        
        <div class="TGN_site_ArticleItemcopy">
            <div class="TGN_site_ArticleItemtitle"><h1>{{ item.title }}</h1></div>
            <div class="TGN_site_ArticleItemdescription">
              {% if item.content contains '<!-- excerpt-end -->' %}
							{{ item.content | split:'<!-- excerpt-end -->' | first | strip_html }}
							{% else %}
							{{ item.excerpt | strip_html | truncate: 150 }}
							{% endif %}
            </div>
            <div class="TGN_site_ArticleItembylinedate">{{ item.date | date: '%B %e, %Y' }}</div>
        </div>
    </a>
  </div>
    {% endif %}
  {% endfor %}
</div>
  

</div>
</div>