---
layout: default
title: Home
---
<!-- Posts -->
<div id="posts">

	{% for post in paginator.posts %}

		{% if forloop.first == true %}
		<div class="post_hero">
			<a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
				<div class="post_heroleft">
				<img src="/img/{{ post.header_fullview }}">
				</div>
				<div class="post_heroright">
					<div class="post_title"><h1>{%if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</h1></div>
					<div class="post_description">{{ post.excerpt | strip_html }}</div>
					<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ post.date | date: '%B %e, %Y' }}</time>
				</div>
			</a>
		</div>
		{% endif %}

	{% endfor %}

	<div class="TGN_site_ArticleItems">
	<div class="TGN_site_ArticleItemsTop">
	{% for post in paginator.posts %}

		{% if forloop.first == false %}
		<div class="TGN_site_ArticleItem">
            <a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
                <div class="TGN_site_ArticleItemimage"><img src="/img/{{ post.header_fullview }}"></div>
                <div class="TGN_site_ArticleItemcopy">
                    <div class="TGN_site_ArticleItemtitle">{%if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</div>
                    <div class="TGN_site_ArticleItemdescription">{{ post.excerpt | strip_html }}</div>
                </div>
            </a>
        </div>
		{% endif %}
		
    {% endfor %}
	</div>
	</div>


</div>
