---
layout: default
title: Home
---
<!-- Posts -->
<div id="posts">

	{% for post in paginator.posts %}

		{% if forloop.first == true %}
		<div class="post_hero">
			<a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
				<div class="post_heroleft">
				<img src="/img/{{ post.header_fullview }}">
				</div>
				<div class="post_heroright">
					<div class="post_title"><h1>{%if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</h1></div>
					<div class="post_description">{{ post.excerpt | strip_html }}</div>
					<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ post.date | date: '%B %e, %Y' }}</time>
				</div>
			</a>
		</div>
		{% endif %}

	{% endfor %}

	<div class="TGN_site_ArticleItems">
	<div class="TGN_site_ArticleItemsTop">
	{% for post in paginator.posts %}

		{% if forloop.index == 2 or forloop.index == 3 %}
		<div class="TGN_site_ArticleItem">
            <a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
                <div class="TGN_site_ArticleItemimage">
					{% if post.header_fullview %}
					<img src="/img/{{ post.header_fullview }}">
					{% endif %}
				</div>
                <div class="TGN_site_ArticleItemcopy">
                    <div class="TGN_site_ArticleItemtitle"><h1>{%if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</h1></div>
                    <div class="TGN_site_ArticleItemdescription">
						{% if post.content contains '<!-- excerpt-end -->' %}
						{{ post.content | split:'<!-- excerpt-end -->' | first | strip_html }}
						{% else %}
						{{ post.excerpt | strip_html }}
						{% endif %}
					</div>
                </div>
            </a>
        </div>
		{% endif %}

    {% endfor %}
	</div>

	<div class="TGN_site_ArticleItemsBottom">
		{% for post in paginator.posts %}

			{% if forloop.index == 4 or forloop.index == 5 %}
			<div class="TGN_site_ArticleItem">
				<a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
					<div class="TGN_site_ArticleItemimage">
						{% if post.header_fullview %}
						<img src="/img/{{ post.header_fullview }}">
						{% endif %}
					</div>
					<div class="TGN_site_ArticleItemcopy">
						<div class="TGN_site_ArticleItemtitle"><h1>{%if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</h1></div>
						<div class="TGN_site_ArticleItemdescription">
							{% if post.content contains '<!-- excerpt-end -->' %}
							{{ post.content | split:'<!-- excerpt-end -->' | first | strip_html }}
							{% else %}
							{{ post.excerpt | strip_html }}
							{% endif %}
						</div>
					</div>
				</a>
			</div>
			{% endif %}
			
		{% endfor %}
		</div>

	</div>

</div>

<div class="subscribe">

<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
	<form action="https://acasquetenotes.us20.list-manage.com/subscribe/post?u=4b8768d6660e7efbf0318d7ae&amp;id=c9ebf36d36" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
		<h2>Subscribe</h2>
	<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
	<div class="mc-field-group">
		<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
	</label>
		<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
	</div>
	<div class="mc-field-group">
		<label for="mce-FNAME">First Name </label>
		<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
	</div>
	<div class="mc-field-group">
		<label for="mce-LNAME">Last Name </label>
		<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
	</div>
		<div id="mce-responses" class="clear foot">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4b8768d6660e7efbf0318d7ae_c9ebf36d36" tabindex="-1" value=""></div>
			<div class="optionalParent">
				<div class="clear foot">
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
					<p class="brandingLogo"><a href="http://eepurl.com/hQ-8a1" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
				</div>
			</div>
		</div>
	</form>
</div>
	
	<!--End mc_embed_signup-->
</div>