---
layout: default
title: Home
---
<!-- Posts -->
<ul id="posts">

	{% for post in paginator.posts %}

	  <li class="post">
		<div class="postimage"><img src="/img/{{ post.header_fullview }}" /></div>
	  	<h1><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{%if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</a></h1>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> {{ post.date | date: '%B %e, %Y' }} </time>
	  	<p>{{ post.content | strip_html | truncatewords:75 }}</p>
	  </li>

    {% endfor %}

</ul>
