---
layout: default
title: All
reviewed: false
---
<h1>All</h1>

<div class="tgnSearchResultsBox">

  {% for post in site.posts %}
  <div class="TGN_site_ArticleItemSearchThumb">
    <a href="{{ post.url }}">
        <div class="TGN_site_ArticleItemDesktopdate">{{ post.date | date: '%B %e, %Y' }}</div>
        <div class="TGN_site_ArticleItemimage">
          {% if post.header_fullview %}
          <img src="/img/{{ post.header_fullview }}" >
          {% else %}
          <img src="/img/favicon.png" >
          {% endif %}
        </div>
        
        <div class="TGN_site_ArticleItemcopy">
            <div class="TGN_site_ArticleItemtitle">{{ post.title }}</div>
            <div class="TGN_site_ArticleItemdescription">
              {% if post.content contains '<!-- excerpt-end -->' %}
							{{ post.content | split:'<!-- excerpt-end -->' | first | strip_html }}
							{% else %}
							{{ post.excerpt | strip_html | truncate: 190 }}
							{% endif %}
            </div>
            <div class="TGN_site_ArticleItembylinedate">{{ post.date | date: '%B %e, %Y' }}</div>
        </div>
    </a>
  </div>
  {% endfor %}
</div>
  

</div>