---
layout: default
title: All Posts
reviewed: false
---

<style>
  .row {
    display: flex;
  }
  .row * {
    margin:0;
  }
  .columnY {
    min-width: 3em;
  }
  .column {
    margin-left: 1em;
  }

  .yeartitle {
    background: #ccc;
    color: #000;
    padding: 0 4px;
    text-align: center;
  }
  .reviewed {
    background: #ccc;
    color: WHITE;
    font-size: 8px;
    font-family: sans-serif;
    padding: 1px  2px;
    vertical-align: middle;
    text-align: center;
    width: 12px;
    height: 12px;
    display: inline-block;
  }
</style>

<h1>All</h1>

<div class="tgnSearchResultsBox">

  {% for post in site.posts %}
  <div class="TGN_site_ArticleItemSearchThumb">
    <a href="{{ post.url }}">
        <div class="TGN_site_ArticleItemDesktopdate">{{ post.date | date: '%B %e, %Y' }}</div>
        {% if post.header_fullview %}
        <div class="TGN_site_ArticleItemimage"><img src="/img/{{ post.header_fullview }}" ></div>
        {% endif %}
        <div class="TGN_site_ArticleItemcopy">
            <div class="TGN_site_ArticleItemtitle">{{ post.title }}</div>
            <div class="TGN_site_ArticleItemdescription">
              {% if post.content contains '<!-- excerpt-end -->' %}
							{{ post.content | split:'<!-- excerpt-end -->' | first | strip_html }}
							{% else %}
							{{ post.excerpt | strip_html }}
							{% endif %}
            </div>
            <div class="TGN_site_ArticleItembylinedate">{{ post.date | date: '%B %e, %Y' }}</div>
        </div>
    </a>
  </div>
  {% endfor %}
</div>
  

</div>