---
layout: default
---

<h1>Books I have read and enjoyed&hellip;</h1>		

<section class="gallery">
  <div class="container">
    <!--
      <div class="toolbar">
      <div class="search-wrapper">
        <input type="search" placeholder="Search for books">
        <div class="counter">
          Total books: <span>2</span></div>
      </div>
      
    </div>-->
    <ol class="image-list grid-view">

        {% for book in site.data.readings %}
          <figure>
            
            <a class="book-container">
            
            <div class="book">
              <img
                alt="{{ book.title }}"
                src="/img/books/{{ book.image }}"
                />
            </div>
            </a>

            <figcaption>
              <p class="title">{{ book.title }}</p>
              {% if book.author  %}
              <p class="author">by {{ book.author }}</p>
              {% endif %}
              <!--<p class="read">{{ book.read }}</p>-->
            </figcaption>
          </figure>
        {% endfor %}
    

    
    </ol>
  </div>
</section>

<h1>&hellip;and books I have to read</h1>

<section class="pending">

  {% for book in site.data.books %}

  <span class="book-title">{{ book.title }}</span>

  {% endfor %}  

</section>
