---
layout: page
title: Salud + Fitness
---
<div class="container">
<h1><span class="accent">Salud</span>➕<span class="accent">Fitness</span><br/>Una guía personal para el bienestar y la longevidad </h1>

    <p>La salud no es simplemente la ausencia de enfermedad, sino un viaje de <strong>autodescubrimiento y crecimiento</strong>. Cada elección, cada hábito y cada día nos acerca a una vida de <strong>equilibrio y plenitud</strong>. Para mí, el verdadero bienestar significa esforzarse por <strong>cuidar tanto el cuerpo como la mente</strong>: en los alimentos que consumo, los pensamientos que cultivo y las acciones que realizo.</p>
    
    <div class="tgnSearchResultsBox">
    
    {% assign health_items = site.posts %}
    {% assign health_items = health_items | sort: 'date' %}
    {% for item in health_items %}
    {% if item.tags contains 'health' %}
  <div class="AC_site_ArticleItemsearchThumb">
    <a href="{{ item.url }}">
        <div class="TGN_site_ArticleItemimage">
          {% if item.header_fullview %}
          <img src="/img/{{ item.header_fullview }}" >
          {% elsif item.header_image %}
          <img src="/img/{{ item.header_image }}" >
          {% else %}
          <img src="/img/acnotes.png" >
          {% endif %}
        </div>
        
        <div class="TGN_site_ArticleItemcopy">
            <div class="TGN_site_ArticleItemtitle"><h1>{{ item.title }}</h1></div>
            <div class="TGN_site_ArticleItemdescription">
              {% if item.content contains '<!-- excerpt-end -->' %}
							{{ item.content | split:'<!-- excerpt-end -->' | first | strip_html }}
							{% else %}
							{{ item.excerpt | strip_html | truncate: 150 }}
							{% endif %}
            </div>
            <div class="TGN_site_ArticleItembylinedate">{{ item.date | date: '%B %e, %Y' }}</div>
        </div>
    </a>
  </div>
    {% endif %}
  {% endfor %}
</div>
  

</div>
</div>