/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
	--black: #1a1a1a;
	--white: #fff;
	--gray: #ccc;
	--darkgreen: #18846C;
	--lightbrown: antiquewhite;
	--darkblack: rgba(0,0,0,0.8);
	--minRangeValue: 280px;
  }
  
  button {
	cursor: pointer;
	background: none;
  }
  
  .gallery img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 0;
	margin: 0;
  }
  
  .gallery ol, .gallery ul {
	list-style: none;
  }
  
  .gallery .container {
	margin: 0 auto;
  }
  
  .gallery .d-none {
	display: none;
  }
    
  /* TOOLBAR
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .toolbar {
	justify-content: space-between;
	align-items: center;
  }
  
  .toolbar .search-wrapper {
	position: relative;
  }
  
  .toolbar input[type="search"] {
	font-size: 2.1rem;
	border: none;
	border-bottom: 1px solid;
	padding-bottom: 3px;
	width: 100%;
    font-family: 'Lora';
    text-align: center;
  }
  
  .toolbar ::placeholder {
	color: var(--gray);
  }
  
  .toolbar .counter {
	position: absolute;
	left: 0;
	top: calc(100% + 5px);
	font-size: 0.9rem;
	color: var(--gray);
  }
  
  /* IMAGE LIST
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .image-list {
	margin: 3rem 0;
  }
  
  .image-list li {
	background: var(--lightbrown);
	color: var(--darkblack);
  }
  
  .image-list p:first-child {
	font-weight: bold;
	font-size: 1.15rem;
  }
  
  .image-list p:last-child {
	margin-top: 0.5rem;
  }
  
  /* LIST VIEW
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .list-view li + li {
	margin-top: 1.5rem;
  }
  
  .list-view figure {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: 150px 1fr;
	align-items: center;
	margin: 0;
  }
  