/* -- General Layout -- */

/* Navigation */

#nav, #nav-left { 
  a {
    display: block;
    color: $text-color;
    padding: 0.33334em 0;
    font-size: 1.5em;
    font-weight: 400;
    transition-duration: 0.3s;
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    @media (min-width: 730px) {
      font-size: 1em;
    }
    &:hover {
      background-color: lighten($accent-color, 5%);
      color: #ffffff;
    }
  }
  span {
      font-weight: 200;
    }
}

#nav {
  @include nav-position(right);
}

#nav-left {
  @include nav-position(left);
}

/* Toggle class to open menu */

#nav.menu-open {
  @include open(-14rem);
}

#nav-left.menu-open-left {
  @include open(14rem);
}

#nav-links {
  @media (max-width: 730px) {
    display:none;
  } 
  margin-bottom: 0.5em;
  
  a {
    padding-left: 10px;
    padding-right: 10px;
    color: $text-color;
    font-weight: 300;
    font-size: 0.8em;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    background-color: #eee;
    transition-duration: 0.3s;

    &:hover{
      background-color: #DC143C;
      color: white;
    }
  }}
  

/* Separator after menu */

#nav-list:after {
  display: block;
  content: '';
  width: 5rem;
  height: 1px;
  margin: 23px auto;
  background-color: $text-color;
}

/* Icon menu */

#nav-menu {
  @include icon-position(right);
  @media (min-width: 730px) {
    display:none;
  }
}

#nav-menu-left {
  @include icon-position(left);
  @media (min-width: 730px) {
    display:none;
  }
}

#menu {
  height: 4px;
  width: 1.5em;
  background-color: $text-color;
  margin-top: 8px;
  &:after, &:before {
    content: "";
    display: block;
    position: relative;
    height: 4px;
    width: 1.5em;
    background-color: $text-color;
    transition: all 0.3s ease-in;
  }
  &:before {
    top: -8px;
  }
  &:after {
    top: 4px;
  }
  &.btn-close {
    background: none;
  }
  &.btn-close:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: $text-color;
  }
  &.btn-close:after {
    top: -4px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: $text-color;
  }
}

/* Main content */

.fixed {
  position: fixed;
  width: 100%;
  @media (min-width: 560px) {
    position: static;
  }
}

#container {
	margin: 24px 0;
}

#header {
  border-bottom:  1px solid rgba(0,0,0,0.14);
  text-align: center;
  height: 4em;
  position: relative;
  a {
  	text-decoration: none;
  	display: inline-block;
   
  }
  div {
    margin: 0 auto;
  }

  h1 {
    color:#999;
    font-size:1.9em;
    font-weight:300; 
    width:100%;
    display:block;
    text-align: left;
  }
  
  h1 > div {
    float: left;
  }
  
  #flip {
    height:35px;
    overflow:hidden;
    margin-left: 3px;
  }
  
  #flip > div > div {
    color:#fff;
    padding: 0 6px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  
  #flip div div {
    background:#42c58a;
  }
  #flip div:first-child div {
    background:#4ec7f3;
  }
  #flip div:last-child div {
    background:#DC143C;
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
  
}

/* Posts */
#posts {

    .post_hero {
        margin-bottom: 24px;
    
      a {
        text-decoration: none !important;
        color: black !important;
        display: flex;
        align-content: center;
        align-items: center;

        @media (max-width: 680px) {
          display: block;
          align-content: unset;
          align-items: unset;
        }
      }
  
      &:hover {
        .post_title {
          text-decoration: underline;
        }
      }

      .post_heroleft {
        width: 48.9%;
        display: inline-block;

        @media (max-width: 680px) {
          width: 100%;
          display: block;
        }
        
        img {
          width: 100%;
          margin: 0px;
          padding: 0px;
          display: block;

          object-fit: cover;
          min-height: 300px;
          object-position: center;
        }
    
        }

        .post_heroright {
          display: inline-block;
          width: 47.5%;
          margin-left: 2.5%;
          vertical-align: top;

          @media (max-width: 680px) {
            width: 100%;
            margin-left: 0%;
            margin-top: 4px;          
          }


          .post_description {
            line-height: 1.18em;
            font-family: sans-serif;
            font-weight: normal;
          }
          }
    }

    .TGN_site_ArticleItems {

      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 40px;

      @media (max-width: 1020px) {
        display: block;
        align-items: unset;
        justify-content: unset;
        margin-bottom: 16px;
      }

    }

    .TGN_site_ArticleItemsTop {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 48.9%;

      @media (max-width: 1020px) {
        width: 100%;
      }

      @media (max-width: 680px) {
        display: block;
        align-items: unset;
        justify-content: unset;
        width: 100%;
      }

    }

    .TGN_site_ArticleItemsBottom {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 48.9%;
      @media (max-width: 1020px) {
        width: 100%;
      }

      @media (max-width: 680px) {
        display: block;
        align-items: unset;
        justify-content: unset;
        width: 100%;
      }
    }

    .TGN_site_ArticleItem {
      width: 47.9%;

      @media (max-width: 1020px) {
        margin-bottom: 24px;
      }

      @media (max-width: 680px) {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        vertical-align: top;
        margin-bottom: 20px;
      }
    }

   
  .TGN_site_ArticleItemimage {
    @media (max-width: 1020px) {
      width: 38%;
    }
    @media (max-width: 680px) {
      width: 33%;
    }

    width: 100%;
    background: #808080;
  }

 
  .TGN_site_ArticleItemcopy {
    @media (max-width: 1020px) {
      width: 58%;
    }

    @media (max-width: 680px) {
      width: 62%;
    }

  width: 100%;
}
    .TGN_site_ArticleItemimage img {
      width: 100%;
      margin: 0px;
      padding: 0px;
      display: block;
      min-height: 200px;
      object-fit: cover;
    }

    .TGN_site_ArticleItemtitle {
    @media (max-width: 1020px) {
 
        margin-top: -2px;
        max-width: 200px;
    }
  }

    .TGN_site_ArticleItemtitle h1 {
      font-size: 22px;
    }

    .TGN_site_ArticleItemdescription {
      color: #404040;
      font-family: 'HelveticaNeueW01-45Ligh','neue-haas-unica', sans-serif;
      font-size: 14px;
      line-height: 18px;
      overflow-wrap: break-word;
      font-weight: lighter;
      text-decoration: none;
    }

    .TGN_site_ArticleItems a {
      text-decoration: none !important;

      &:hover {
        .TGN_site_ArticleItemtitle {
          text-decoration: underline;
        }
      }
      @media (max-width: 1020px) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
      }
    }



}




#post-page {
  margin-bottom: 1.5em;
  @media (min-width: 560px) {
      margin-bottom: 1.3334em;
    }

  pre {
    border: 1px solid #ccc; 
    padding: 1em;
    font-size: 0.8em;
    white-space: break-spaces;
  }

  a {
    color: $accent-color;
    text-decoration: none;
    font-weight: 700;
    &:hover,
    &:focus {
      color: darken($accent-color, 5%);
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
  }

  .video-embed {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.by-line {
  display: inline-block;
  color: lighten($text-color, 25%);
  margin-bottom: 1.5em;
  font-family: sans-serif;
  font-size: 0.8em;
  font-weight: 200;
}

.reading-time {
  color: lighten($text-color, 25%);
  font-family: sans-serif;
  font-size: 0.8em;
  font-weight: 200;
}

.fullview {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw !important;
  position: relative;
  right: 50%;
  width: 100vw;
  object-fit: cover;
  min-height: 250px;
  max-height: 300px;
}

img {
/*  max-width: 100%; */
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

img[title="Monochrome"] {
    box-shadow: 0 2px 6px #ddd;
  }

code {
  font-family: 'Fira Code', monospace;
  color: lighten($text-color, 10%);
}

/* Set the vertical rhythm (and padding-left) for lists inside post content */

.content {
  margin-bottom: 1em;
}

.content ul, .content ol {
  line-height: 1.8em;
  padding-left: 1.5em;
  @media (min-width: 560px) {
    line-height: 1.8em; 
  }
}

/* Pages */

#page ul, #page ol {
  padding-left: 1.5em;
}

/* Paginator */

.pagination {
  text-align: center;
  margin: 1em;
  span {
    background-color: darken($background-color, 5%);
    color: $text-color;
  }
  a:hover {
    background-color: lighten($text-color, 5%);
  }
}
.page-item {
  background-color: lighten($text-color, 10%);
  color: $background-color;
  padding: 4px 8px;
  font-weight: 400;
  padding: 0.5em 0.5em;
  display: inline-block;
  width: 8.5em;
}

/* Footer */

footer {
  background-color: $background-color;
  color: $text-color;
  text-align: center;
  padding: 0.6667em 0;
  font-size: 0.8em;
}

.tags {
  a {
		padding: 2px 4px;
		color: $text-color;
		background-color: #f9f2f4;
		border-radius: 4px;
	}
}