$gray: #d6cec3;

.container {
  

  h1 {
    text-align: center;
    margin-bottom: 1em;
  }
}

.timeline {
  position: relative;
  overflow: auto;
  
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    background: $accent-color;
    left: 0;
  }
  
  h2 {
    background: #fff;
    margin: 0 auto 0;
    padding: 0.2em;
    text-align: center;
    position: relative;
    clear: both;
    font-family: "source-serif-4", serif;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1em;


  }

  h2.primary {
    font-size: 3em;
  }
  
  .itemlist {
    list-style: none;
    padding: 0 0 0 1em;
    z-index: 1;
  }
  
  .item {
    background: $gray;
    padding: 0 1em;
    margin-bottom: 0;
    position: relative;
    border-radius: 15px;
    background-size: cover;

    .description {
      color: #fff;
      background-color: #fffc;
    }
    

    &.mono {
      background: none;
      text-align: right;
      font-style: normal;
      font-family: monospace;
    }
    
    &:before {
      content: '';
      width: 70px;
      height: 0;
      border-top: 3px dashed $accent-color;
      position: absolute;
      left: -4.5em;
      top: 24px;
    }
  }
  
  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    font-family: "source-serif-4", serif;
    padding: 0;
    list-style: 0.8em;
    display: inline-block;
    border-radius:  15px;


    &.bk {
      background-color: #0005;
      color: #fff;
      padding: 0 10px;
    }

  }

  p {
    line-height: 1.3em;
  }
  
  time {
    font-style: italic;
  }

  .aquamarine {
    background-color: #b2a590 !important;
  } 
}

@media screen and (min-width: 40em) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .timeline {
    &:before {
      left: 50%;
    }
    
    .itemlist {
      padding-left: 0;
      margin: 0 auto;
    }
    
    .item {
      width: 42%;
    }
    
    .item:nth-of-type(2n) {
      float: right;
      margin-top: 2em;
    }
    
    .item:nth-of-type(2n+1) {
      float: left;
      
      &:before {
        border-top: 2px dashed $accent-color;
        right: -4.5em;
        left: auto;

        &:before {
          height: 25px;
          width: 25px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
        }
      }


    }
    
    .item:nth-of-type(2n+1) {
      clear: both;
    }
  }
}