$gray: #dddddd;

.container {
  padding: 1em;
}

.timeline {
  position: relative;
  overflow: auto;
  
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background: $gray;
    left: 0;
  }
  
  h2 {
    background: $gray;
    max-width: 6em;
    margin: 0 auto 1em;
    padding: 0.5em;
    text-align: center;
    position: relative;
    clear: both;
  }
  
  .itemlist {
    list-style: none;
    padding: 0 0 0 1em;
    z-index: 1;
  }
  
  .item {
    background: $gray;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    
    &:before {
      content: '';
      width: 100px;
      height: 0;
      border-top: 3px dashed $gray;
      position: absolute;
      left: -4.5em;
      top: 0;
    }
  }
  
  h3 {
    margin-top: 0;
  }
  
  time {
    font-style: italic;
  }
}

@media screen and (min-width: 40em) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .timeline {
    &:before {
      left: 50%;
    }
    
    .itemlist {
      padding-left: 0;
      margin: 0 auto;
    }
    
    .item {
      width: 42%;
    }
    
    .right {
      float: right;
      margin-top: 2em;
    }
    
    .left {
      float: left;
      
      &:before {
        border-top: 3px dashed $gray;
        
        right: -4.5em;
        left: auto;
      }
    }
    
    .item:nth-of-type(2n+1) {
      clear: both;
    }
  }
}