---
layout: default
comments: true
---
<article id="post-page">
	<h1>{%if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h1>		
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date: '%B %e, %Y' }}</time>
	
	{% include read-time.html %}
	
	<div class="content">

		{% if page.header_fullview %}
		<p><img src="/img/{{page.header_fullview}}" alt="{{page.title}}" class="fullview" /></p>
        {% elsif page.header_image %}
		<p><img src="/img/{{page.header_image}}" alt="{{page.title}}" style="width: 100%;
			max-height: 400px; object-fit: cover;" /></p>
		{% endif %}
		
		{% if page.reviewed == false %}
		<div class="underreview">
			This post is under review and will be updated soon.
		</div>
		{% endif %}

		{{ content }}
		
	</div>

	<div class="tags">
		{% if page.tags != null %}
			{% assign projectTags = site.data.tags.allowed-tags %}
			{% for tag in page.tags %}
			{% if projectTags contains tag %}
			<a href="{{ "/tag/" | append: tag }}" class="btn btn-default navbar-btn cursorNorm" role="button">#{{tag}}</a>
			{% endif %}
			{% endfor %}
		{% endif %}
	</div>

	


</article>

