---
layout: default
---
<article id="post-page">
	<h1>{%if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h1>		
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date: '%B %e, %Y' }}</time>
	<div class="content">

		{{ content }}
		
	</div>

	<div class="tags">
		{% if page.tags != null %}
			{% assign projectTags = site.data.tags.allowed-tags %}
			{% for tag in page.tags %}
			{% if projectTags contains tag %}
			<a href="{{ "tag_" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">#{{page.tagName}}{{tag}}</a>
			{% endif %}
			{% endfor %}
		{% endif %}
	</div>

</article>

